.search-bar {
  display: flex;
  align-items: center;
  width: 450px; /* 이 값을 수정하면 검색 바 전체 길이 변합니다 */
  height: 40px;
  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0px 10px;
}

body.dark-mode .search-bar {
  background-color: #00000050; /* 다크 모드 배경색 */
  border: 1px solid #FFFFFF; /* 다크 모드 테두리 */
}

.search-text {
  flex: 0 0 80px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 800;
  color: #333333;
  background-color: transparent;
}

body.dark-mode .search-text {
  color: #FFFFFF; /* 다크 모드 텍스트 색상 */
}

.search-input {
  flex: 1 1 100px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 8000;
  color: #333333;
  background-color: transparent;
}

body.dark-mode .search-input {
  color: #FFFFFF; /* 다크 모드 입력 텍스트 색상 */
}

.search-input::placeholder {
  color: #cccccc;
}

body.dark-mode .search-input::placeholder {
  color: #FFFFFF; /* 다크 모드 플레이스홀더 색상 */
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.search-icon {
  font-size: 24px;
  color: #333333;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

body.dark-mode .search-icon {
  color: #FFFFFF; /* 다크 모드 아이콘 색상 */
}
