.sidebar-button {
    width: 150px;
    height: auto;
    padding: 10px 20px;
    padding-left: 20px;
    margin: 10px 0;
    background-color: #091904;
    color: white;
    text-align: left;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.sidebar-button:hover {
    background-color: #133508;
    transform: translateY(-2px);
}

.sidebar-button:active {
    background-color: #AEF060;
    transform: translateY(1px) scale(0.98);
}

.sidebar-button.active {
    background-color: #AEF060;
    font-weight: bold;
    cursor: default;
    color: #3D3C3C;
    transform: scale(1.03);
  }