.modeselect-button {
  min-width: 260px; /* 버튼 최소 너비 */
  min-height: 140px; /* 버튼 최소 높이 */
  width: 12vw; /* 화면 너비의 12% */
  height: 12vh; /* 화면 높이의 12% */
  max-width: 500px; /* 버튼 최대 너비 */
  max-height: 300px; /* 버튼 최대 높이 */
  background-color: #f0f0f0;
  border: none;
  border-radius: 1vw; /* 둥근 모서리 크기 조정 */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 0.4vh 0.1vh rgba(0, 0, 0, 1);
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease, border 0.3s ease;
  font-size: clamp(16px, 2vw, 24px); /* 동적 폰트 크기 */
}

.modeselect-button.selected {
  background-color: #b9ff66; /* 선택 시 배경색 */
}

.modeselect-button:hover {
  transform: scale(1.05); /* 호버 시 확대 효과 */
}

.mode-description {
  font-size: clamp(12px, 0.7vw, 24px); /* 설명 텍스트 크기 */
  margin: 0px 0px 10px 10px;
  color: #333;
}

.mode-name {
  font-size: clamp(18px, 2vw, 36px); /* 모드 이름 텍스트 크기 */
  margin: 0px 0px 0px 8px;
  font-weight: bold;
}

/* 다크 모드 스타일 */
body.dark-mode .modeselect-button {
  background-color: #00000050;
  border: 1px solid #FFFFFF;
  transition: background-color 0.3s ease, border 0.3s ease;
}

body.dark-mode .mode-description {
  color: #D5D6DC;
  transition: color 0.3s ease;
}
