html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  min-width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar.sidebar-light-mode {
  background-color: #091904;
  color: white;
}

.sidebar.sidebar-dark-mode {
  /* background: linear-gradient(
    to right,
    #091904 0%,
    #11300849 38%,
    #215c0f33 73%,
    #2e801500 100%
  ); */
  background-color: #000000;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-rounded-top {
  position: absolute;
  top: -11.55px;
  right: -28.45px;
  width: 40px;
  height: 40px;
  background-color: #091904;
  -webkit-mask: radial-gradient(circle at bottom right, transparent 50%, black 100%);
  mask: radial-gradient(circle at bottom right, transparent 50%, black 51%);
  -webkit-mask-composite: exclude;
  mask-composite: exclude;
  transition: background-color 0.3s ease;
  clip-path: inset(0 0 0 28%);
}

.sidebar-dark-mode .sidebar-rounded-top {
  background-color: #000000;
}

.sidebar-logo {
  padding-top: 10vh;
  padding-top: 10vh;
  font-size: calc(min(8vw * 0.5, 63px));
  margin-bottom: 3vh;
}

.app {
  display: flex;
  height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 15%; /* Sidebar의 폭과 동일하게 여백 추가 */
  margin-left: 300px;
}