.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dashboard-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mode-select {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 추가: app 레이아웃 */
.app {
  display: flex;
  height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px; /* Sidebar의 폭과 동일하게 여백 추가 */
}
